
.menu-item,
.menu-item-active {
    padding-inline: 16px;
    color: inherit;
    text-decoration: none;
}

.menu-container :nth-child(1) {
    border-left: 1px solid red;
}

.menu-item {
    padding-block: 20px;
}

.menu-item-active {
    padding-block: 20px;
    border-bottom: yellow 2px solid;
}

.menu-container .menu-item,
.menu-container .menu-item-active {
    border-right: 1px solid red;
}

.owner-name span {
    padding-inline: 20px;
}

