@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

:root {
  font-family: "Fira Code", monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --fontsize-md: 16px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
