@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Fira Code", monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --fontsize-md: 16px;

  --backgroundcolor-body: rgba(15, 23, 43, 1);
  --backgroundcolor-backdrop: rgba(2, 6, 24, 1);

  --border: rgba(49, 65, 88, 1);
  --yellow: rgba(255, 184, 106, 1);

  --inner-mobile-nav: rgba(49, 65, 88, 1);

  --nav-text: rgba(248, 250, 252, 1); /* for hello,aboutme,projects (Active) */
  --fore-text: rgba(144, 161, 185, 1);
  --footer-logos: rgba(98, 116, 142, 1);

  --blue: rgba(97, 95, 255, 1);
  --teal: rgba(0, 213, 190, 1);
  --link-pry: rgba(255, 161, 173, 1);
  --link-hover: rgba(255, 255, 255, 1);

  --my-name: rgba(248, 250, 252, 1);

  --live-background: rgba(69, 85, 108, 1);
  --snippet-backdrop: rgba(2, 6, 24, 1);

  --interesting: rgba(49, 65, 88, 1);
}

$borders: 1px solid rgba(49, 65, 88, 1);

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  // width: 100vw;
  background-color: var(--backgroundcolor-backdrop);
  color: var(--fore-text);
  padding: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  // max-width: 1444px;
  // max-height: 700px;
  border: $borders;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - 2rem);
  margin: 0px;
  background-color: var(--backgroundcolor-body);
}

.nav-div {
  border-bottom: $borders;
  display: flex;

  span {
    padding: 10px;
    display: block;
  }
}

.mobile-nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;

  button {
    background-color: transparent;
    border: none;
    color: var(--fore-text);
    font-size: 1.4rem;
  }
}

.menu-container,
.contact-div {
  display: none;
}

.nav-div a.inactive-menu {
  border-bottom: 3px solid transparent;
}

.nav-div a.active-menu {
  border-bottom: 3px solid var(--yellow);
}

.footer-div {
  bottom: 0;
  width: 100%;
  display: flex;
  border-top: $borders;

  div {
    display: flex;
  }

  span {
    display: block;
    padding: 10px;
  }
}

.outlet-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.inset-div {
  position: absolute;
  inset: 0;
  z-index: 9;
  background-color: var(--backgroundcolor-body);
}

.mobile-nav-dropdown {
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  backdrop-filter: blur(10px);
  span {
    font-size: 1.2rem;
    padding: 0.6em 0.8em;
    border-bottom: $borders;
  }
}

.footer-div-1 span {
  border-right: $borders;
}

.footer-div-2 {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  .footer-div-2-main {
    border-left: $borders;
  }
}

.home-page-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
}

.home-div-2 {
  display: none;
}

.home-div-1 {
  display: flex;
  flex-direction: column;
  gap: 3em;

  h1 {
    color: var(--my-name);
  }

  h3 {
    color: var(--blue);
  }
}

.home-div-1-1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.home-div-1-2 {
  font-size: 1.1rem;
  .const {
    color: var(--blue);
  }

  .git {
    color: var(--teal);
  }

  .gitlink {
    color: var(--link-pry);
  }
}

.mobile-about-div {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.mobile-about-header,
.contact-mobile-header,
.projects-mobile-header {
  padding: 0.7em;
  font-size: 1.1rem;
}

.mobile-about-bottons,
.contact-drop-buttons {
  padding: 0.8em;
  font-size: 1rem;
  color: var(--nav-text);
  display: flex;
  align-items: center;
  background-color: var(--inner-mobile-nav);

  svg {
    font-size: 1.1rem;
  }
}

.mobile-about-minidivs,
.contacts-drop-div {
  display: flex;
  flex-direction: column;
}

.mobile-about-inner {
  padding: 0.8em;
}

.mobile-about-inner p {
  text-align: justify;
  padding: 0.5em;
}

.contacts-main-div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 100%;
  flex: 1;
}

.contacts-inner-div,
.contacts-side-div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#contact-form {
  display: flex;
  flex-direction: column;
}

.contact-me-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.contacts-drop-div {
  padding: 0.5em;
  gap: 0.3em;
}

.fs-form {
  display: grid;
  gap: 0.7em;
  width: 100%;
  padding: 0.6em 0.8em;
  max-width: 500px;
}

.fs-field {
  display: grid;
  gap: 0.3em;
}

.fs-description {
  font-size: 0.7rem;
  color: var(--yellow);
}

.fs-input,
.fs-textarea {
  padding: 0.5em;
  background-color: inherit;
  box-shadow: none;
  border: $borders;
  border-radius: 0.4em;
  color: inherit;
}

.fs-button-group {
  display: flex;
}

.fs-button {
  padding: 0.4rem 0.6rem;
  margin-right: 0.4em;
  border-radius: 0.4rem;
  background-color: var(--yellow);
}

.fs-button:hover {
  background-color: var(--my-name);
}

.contact-succeeded {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 5em;
  gap: 1.3em;

  p {
    text-align: center;
  }
}

.contact-succeeded-p {
  color: white;
  font-size: 1.2rem;
}

.code-show {
  display: none;
}

.projects-main-div {
  width: 100%;
}

.projects-grid {
  display: grid;
  gap: 1em;
  padding-inline: 1em;
  padding-bottom: 2em;
  max-width: 100%;
  width: 100%;
  grid-template-columns: 1;
}

.pry-project-div {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.project-div {
  border: $borders;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
}

.project-num {
  color: var(--blue);
}

.project-div-picture {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 2/1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  max-width: 100%;
}

.project-content {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  flex: 1 1 auto;
}

.link-button-holder {
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
}

.link-button {
  background-color: var(--live-background);
  color: var(--nav-text);
  padding: 0.4em;
  display: inline-block;
  text-decoration: none;
  border-radius: 0.3em;
}

.about-code-snippet {
  display: none;
}

.about-outlet {
  display: flex;
  justify-content: center;
  padding: 1em;
  flex: 1 1 auto;
}

.about-outlet-inner {
}

.about-side-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  // padding: 1em;
}

.about-pages-title-div {
  font-size: 1.1rem;
  border-bottom: 1px solid rgb(49, 65, 88);
}

.about-pages-title {
  display: inline-block;
  border-right: $borders;
  padding: 0.7em 1em;
}

//only show on desktop
.about-main-div {
  display: flex;
  height: 100%;
  flex: 1;
}

.about-side-panel {
  border-right: $borders;
  border-left: $borders;
  display: flex;
  flex-direction: column;
}

.about-side-title {
  display: block;
  font-size: 1.1rem;
  padding: 0.7em 0.7em 0.7em 0;
  border-bottom: $borders;
}

.side-contacts {
  border-top: $borders;
}

.about-contact,
ul.personal-li {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

ul.personal-li {
  list-style: none;
  padding: 0.4em 0;
  margin: 0;

  li {
    cursor: pointer;
  }
}

ul.personal-li li:hover {
  color: var(--link-hover);
}

@media (width >= 768px) {
  .outlet-div {
    height: 100%;
    width: 100%;
  }

  .menu-container {
    display: flex;

    a {
      border-right: $borders;
    }
  }

  .mobile-nav {
    display: none;
  }

  .contact-div {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    a {
      border-left: $borders;
    }
  }

  .contacts-inner-div {
    flex-direction: row;
    flex: 1 1 auto;
    // margin-top: 0.5em;
    // padding-top: 0.5em;
    border-top: $borders;
  }

  .contacts-side-div {
    // width: 30%;
    // height: 100%;
    border-right: $borders;
  }

  .home-div-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // when I am working with strictly desktop
  .owner-name {
    border-right: $borders;
  }

  .owner-name,
  .about-side-panel,
  .contacts-side-div {
    width: 30%;
    min-width: 270px;
    max-width: 350px;
  }

  .projects-mobile-header {
    border-bottom: $borders;
  }

  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width >= 1240px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.3em;
  }

  .code-show {
    display: flex;
    flex: 1;
    border-left: $borders;
  }

  .contacts-other-side {
    display: flex;
    flex: 1 1 auto;
    padding: 0.5em;
  }

  .contact-me-div {
    flex-direction: column;
  }

  .interest-headers {
    font-weight: 600;
    font-style: italic;
  }

  .about-side-container {
    width: 70%;
  }

  .about-outlet {
    padding: 0;
    border-right: $borders;
  }

  .about-outlet-inner {
    padding: 0.5em;
  }

  .about-side-inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
    padding-inline: 1em;
    height: 100%;
  }

  .about-code-snippet {
    display: block;
    font-family: "Fira Code", monospace;
    font-size: 0.8rem;
    border-left: $borders;
    border-right: $borders;
    padding: 0.5em 1em;
  }

  .about-code-containner {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .about-code {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
  }

  .snippet-code {
    padding: 0.5em;
    border-radius: 0.6em;
    background-color: var(--snippet-backdrop);
    border: $borders;
  }

  .code-icons-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    padding-left: 1em;
  }

  .about-code-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about-code-tops {
    display: flex;
    align-items: center;
  }

  .code-writeup {
    font-size: 0.8rem;
  }

  .code-writeup {
    border-top: $borders;
    padding-top: 0.5em;
    font-size: 0.7rem;
  }
}
