.Navdiv {
    display: grid;
    grid-template-columns: 3fr 7fr 2fr;
    grid-template-rows: 1fr;
    font-size: var(--fontsize-md);
    margin-top: 20px;
    border: 1px solid red;
    height: max-content;
    align-items: center;
}

.Navdiv > a {
    border-left: 1px solid red;
}

.Footer {
    display: flex;
}

.Body {
    flex: 1;
}